In [25]:
#importing the pandas library functions to do table load operation
import pandas as pd

In [26]:
#file is saved in the same python path to get it accessed and we are loading the csv file 
#contains the input dataset using pandas read_csv function. 
dataset = pd.read_csv("Salary_Data.csv")

In [27]:
#displaying the dataset to validate whether our file is loaded properly.
dataset

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0

In [28]:
#load the input data  in independent_variable list. In this example the years of experience is the input passed by user. 
independent_variable = dataset[["YearsExperience"]]
independent_variable

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [29]:
#load the Output data  in dependent_variable list. In this example the salary is the output expected user. 

dependent_variable = dataset[["Salary"]]
dependent_variable

      Salary
0    39343.0
1    46205.0
2    37731.0
3    43525.0
4    39891.0
5    56642.0
6    60150.0
7    54445.0
8    64445.0
9    57189.0
10   63218.0
11   55794.0
12   56957.0
13   57081.0
14   61111.0
15   67938.0
16   66029.0
17   83088.0
18   81363.0
19   93940.0
20   91738.0
21   98273.0
22  101302.0
23  113812.0
24  109431.0
25  105582.0
26  116969.0
27  112635.0
28  122391.0
29  121872.0

In [30]:
#Loading the model selection library to split the input dataset into test set and train set.
from sklearn.model_selection import train_test_split
X_train,X_test,Y_train ,Y_test = train_test_split(independent_variable,dependent_variable,test_size =0.30,random_state = 0)

In [31]:
# this is the training dataset input 
X_train

    YearsExperience
22              7.9
5               2.9
16              5.1
8               3.2
14              4.5
23              8.2
20              6.8
1               1.3
29             10.5
6               3.0
4               2.2
18              5.9
19              6.0
9               3.7
7               3.2
25              9.0
3               2.0
0               1.1
21              7.1
15              4.9
12              4.0

In [32]:
# this is the test dataset input 
X_test

    YearsExperience
2               1.5
28             10.3
13              4.1
10              3.9
26              9.5
24              8.7
27              9.6
11              4.0
17              5.3

In [33]:
# this is the training dataset output 

Y_train

      Salary
22  101302.0
5    56642.0
16   66029.0
8    64445.0
14   61111.0
23  113812.0
20   91738.0
1    46205.0
29  121872.0
6    60150.0
4    39891.0
18   81363.0
19   93940.0
9    57189.0
7    54445.0
25  105582.0
3    43525.0
0    39343.0
21   98273.0
15   67938.0
12   56957.0

In [34]:
# this is the test dataset output 

Y_test

      Salary
2    37731.0
28  122391.0
13   57081.0
10   63218.0
26  116969.0
24  109431.0
27  112635.0
11   55794.0
17   83088.0

In [35]:
#importing the linear regression model and its libraries to make the model learn the output strategy.
from sklearn.linear_model import LinearRegression
regressor = LinearRegression()
regressor.fit(X_train,Y_train)

LinearRegression()

In [36]:
#weight is difference between one output and other output. bias means the starting point of the linear equation
weight = regressor.coef_
bias = regressor.intercept_

In [37]:
#predicting the output for the test datset using the model
y_pred=regressor.predict(X_test)

In [40]:
#importing the r2 libraries to calculate evaulation metrics for the test model. 
from sklearn.metrics import r2_score
r_score=r2_score(Y_test,y_pred)

In [41]:
#r_score is near to 1 so the model is predicting good
r_score

0.9740993407213511

In [42]:
#importing pickle library and give file name for the created model. 
import pickle
filename="finalized_model_linear.sav"

In [43]:
#writing the model into a file in binary form. 
pickle.dump(regressor,open(filename,'wb'))

In [44]:
#load the saved model and testing the model using a sample input 
loaded_model=pickle.load(open("finalized_model_linear.sav",'rb'))
years = int(input("enter the years of experience"))
result=loaded_model.predict([[years]])

enter the years of experience34

C:\Users\rajes\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [45]:
result

array([[345026.27507178]])